name: CI/CD Pipeline
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
jobs:
  ci_cd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: lint
        run: pnpm lint
      - name: Astro Build
        run: pnpm build
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Sync folder to S3
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          aws s3 sync dist/ s3://${{ vars.AWS_BUCKET_NAME }} --delete
